<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Ошибка!</title>
</head>
<body>
    <div class="box">
        <div class="main main-login">
           <h3>Страница не найдена</h3>
        </div>
    </div>

    <%- include('partials/scripts.ejs') %>
</body>
</html>