<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Кинопоиск</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="box">
        <div class="main main-index">
            <div class="genres">
                <h3>Жанры</h3>
                <a href="">Ужасы</a>
                <a href="">Драма</a>
                <a href="">Фантастика</a>
            </div>

            <div class="main-content">
                <h1>Профиль</h1>
                <div class="profile">
                    <div class="profile-img">
                        <img src="/images/default-avatar.jfif" alt="">
                    </div>
                    <div class="profile-info">
                        <p><b>Полное имя:</b> <span><%= user.full_name %></span></p>
                        <p><b>E-mail:</b> <span><%= user.email %></span></p>
                        <% if (user.id == loginUser.id) { %>
                            <a href="" class="btn-gradient edit-btn">Редактировать</a>
                            <a href="/api/signout" class="logout-btn">Выход</a>
                        <% } %>
                    </div>
                </div>

                <h1>Сохраненные фильмы</h1>

                <div class="film-card">
                    <div class="card-left">
                        <div class="film-poster">
                            <img src="https://m.media-amazon.com/images/I/61Z6bxl6JsL.jpg" alt="">
                        </div>

                        <div class="film-info">
                            <p class="film-name">Зеленая книга</p>
                            <p class="film-prefix">Green Book, 2018, 130 мин.</p>
                            <p class="film-desc">США, Режиссёр: Питер Фарелли</p>
                            <button class="btn-gradient">
                                <img src="/images/icons/play.svg" alt="">
                                Смотреть
                            </button>
                        </div>
                    </div>

                    <div class="card-right">
                        <p class="film-rating">8.3</p>
                        <button>
                            <img src="/images/icons/save.svg" alt="">
                            Буду смотреть
                        </button>
                    </div>
                </div>

                <div class="film-card">
                    <div class="card-left">
                        <div class="film-poster">
                            <img src="https://m.media-amazon.com/images/I/61Z6bxl6JsL.jpg" alt="">
                        </div>

                        <div class="film-info">
                            <p class="film-name">Зеленая книга</p>
                            <p class="film-prefix">Green Book, 2018, 130 мин.</p>
                            <p class="film-desc">США, Режиссёр: Питер Фарелли</p>
                            <button class="btn-gradient">
                                <img src="/images/icons/play.svg" alt="">
                                Смотреть
                            </button>
                        </div>
                    </div>

                    <div class="card-right">
                        <p class="film-rating">8.3</p>
                        <button>
                            <img src="/images/icons/save.svg" alt="">
                            Буду смотреть
                        </button>
                    </div>
                </div>

                <div class="film-card">
                    <div class="card-left">
                        <div class="film-poster">
                            <img src="https://m.media-amazon.com/images/I/61Z6bxl6JsL.jpg" alt="">
                        </div>

                        <div class="film-info">
                            <p class="film-name">Зеленая книга</p>
                            <p class="film-prefix">Green Book, 2018, 130 мин.</p>
                            <p class="film-desc">США, Режиссёр: Питер Фарелли</p>
                            <button class="btn-gradient">
                                <img src="/images/icons/play.svg" alt="">
                                Смотреть
                            </button>
                        </div>
                    </div>

                    <div class="card-right">
                        <p class="film-rating">8.3</p>
                        <button>
                            <img src="/images/icons/save.svg" alt="">
                            Буду смотреть
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>